input[type=button], input[type=submit] {
  background-color: #5f86a3;
    border: none;
    color: white;
    padding: 11px 33px;
    text-decoration: none;
    margin-top: 21px;
    cursor: pointer;
    border-radius: 3px;

}
.btn:hover {
  background-color: black;
  color: white!important;
}
/*--------------*/
.form_class{
  text-align: center;
  vertical-align: middle;
}
.form_class label{
  margin-left: 5px;
  margin-right: 25px;
}
.switch {
  appearance: none;
  height: 22px;
  width: 45px;
  background-color: #5f86a3;
  cursor: pointer;
  border-radius: 1em;
  position: relative;
  transition: background-color 0.3s ease;
}

.switch::before {
  content: "";
  height: 21px;
  width: 48%;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  border: #5f86a3 solid 0.2em;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.switch:checked {
  background-color: #a8c66c;
}

.switch:checked::before {
  border-color: #a8c66c;
  transform: translateX(100%);
}

@media screen and (max-width: 500px) {
  .switch {
    outline: none;
  }
}
/*---------------------Main content css---------------*/
.analytics_heading{
  font-size:28px;
  color:#5f86a3;
  text-align:center;
  font-weight: 600;
}
/*--------radio button designs--------------------*/
.radio-input {
  visibility: hidden;
  z-index: -999;
}
.radio-label {
  position: relative;
  padding-left: 35px;
}
.radio-label:after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
}
.radio-border {
  width: 16px;
  height: 16px;
  display: inline-block;
  outline: solid 3px #577f08;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  top: 0px;
}
.radio-input:checked + .radio-label:after {
  transition: all 0.5s;
  background-color: #70b027;
}